.contenedor-icono-texto{
    background-color: rgba(255, 255, 255, 1);
    color: black;
    font-weight: lighter;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: start;
    width: 70vw;
    max-width: 800px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow:
    0px 0px 2.2px rgba(255, 255, 255, 0.053),
    0px 0px 5.3px rgba(255, 255, 255, 0.077),
    0px 0px 10px rgba(255, 255, 255, 0.095),
    0px 0px 17.9px rgba(255, 255, 255, 0.113),
    0px 0px 4px rgba(255, 255, 255, 0.137),
    0px 0px 25px rgba(255, 255, 255, 0.19);
    
}

.h4-carta-texto{
    padding: 20px 10px 0px 10px;
    margin: 25px;
    font-size: 1vw + 0.5rem;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


.componente-imagen{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background: transparent;
    margin: 25px;
    /*border: 2px solid yellow;*/

    /*background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);*/
}

.componente-imagen img{
    width: 20%;
    max-width: 85px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

@media screen and (max-width: 800px) {
    .contenedor-icono-texto{
        width: 80vw;
        max-width: 400px;
        height: fit-content;
        /*border: 3px solid red;*/
    }

    .h4-carta-texto{
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {

    .contenedor-icono-texto{
        width: 60vw;
        padding: 0;
        margin: 0;
    }
    .h4-carta-texto{
        font-size: 13px;
        padding: 5px;
    }

    .componente-imagen{
        margin: 10px;
        padding: 5px;
    }
}

