.contenedor-footer{
    width: 100%;
    height: 20vh;
    background: linear-gradient(to bottom, #060606, 10%, black);
    display: grid;
    align-items: end;
    padding-bottom: 30px;
}

.titulo-social{
    display: grid;
    align-items: center;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    font-size: calc(0.8rem + 0.5vw);
}

.espacio-social{
    display: grid;
    align-items: start;
    padding-top: 20px;
    justify-content: center;
    grid-auto-flow: column;
    gap: 1.5rem;
    /*border: 2px solid blue;*/
}

.copyright-social{
    color: aliceblue;
    font-weight: lighter;
    font-size: small;
    padding: 0;
    margin: 0;
}