.contenedor-header{
    width: 100%;
    height: 93vh;
    border-bottom: 2px solid rgba(212, 212, 212, 0.5);
    background-image: url(../imagenes/esfera-negra.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130% 175%;

    display: grid;
    align-items: center;
    justify-content: center;
}

.contenedor-header::after{
    display: grid;
    content: " ";
    bottom: 0;
    width: 100vw;
    height: 60vh;
    margin-top: 30vh;
    background-image: url(../imagenes/arrows-down.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 45px;
    animation: bajar 4000ms infinite;
    /*border: 3px solid blue;*/
}

@keyframes bajar {
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-10px);
    }
}

.titulo-header{
    width: 100%;
    position: absolute;
    /*border: 2px solid red;*/
}

.titulo-header h1{
    color: whitesmoke;
    font-size: calc(1vw + 1rem);
}

@media screen and (max-width: 700px) {
    .titulo-header h1{
        font-size: calc(0.4vw + 1rem);
    }
}

